@inherits GameComponentBase
@inject NavigationManager NavigationManager
@if (Client == null) { return; }

<Alert Color="Color.Warning" Visible="!Client.CurrentGame.IsStarted">
    <AlertDescription>
        <Heading Size="HeadingSize.Is2">
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ExclamationTriangle" /> The Current Game has not started yet
        </Heading>
        @if (Client.IsStartGameEnabled)
        {
            <Button Color="Color.Success" Clicked="Client.Start"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.PlayCircle" /> Start Game</Button>
        }
    </AlertDescription>
</Alert>
<Alert Color="Color.Danger" Visible="!Client.CurrentGame.IsActive">
    <AlertDescription>
        <Heading Size="HeadingSize.Is2">
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ExclamationCircle" /> The Current Game has ended
        </Heading>
        <Button Color="Color.Danger" Clicked="@(() => NavigationManager.NavigateTo("/"))"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Backward" /> Back to Games</Button>
    </AlertDescription>
</Alert>
