@inherits GameComponentBase

<Modal @ref="Modal">
    <ModalBackdrop />
    <ModalContent>
        <ModalHeader>
            <ModalTitle><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Trophy" /> Game Over</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Paragraph>The game has ended!</Paragraph>
            <Paragraph>@(PlayersOrdered.FirstOrDefault()?.Name) is the winner!</Paragraph>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="Modal.Hide">OK</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    public Modal Modal { get; set; }
    private IEnumerable<Player> PlayersOrdered => Client.CurrentGame.Players.OrderByDescending(t => t.Money + Client.CurrentGame.OwnedPropertyValue(t.Name));

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Client.GameOver = Show;
    }

    public void Show() => Modal.Show();
}
