@inherits LayoutComponentBase

<div class="main d-flex flex-column">
    <div class="top-row px-4 auth">
        <div class="flex-grow-1">
            <NavLink href="/"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Dice" /> Milliganopoly</NavLink>
        </div>
        <LoginDisplay />
    </div>
    @Body

</div>
