@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 auth">
        <div class="flex-grow-1">
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Dice" /> Milliganopoly
        </div>
        <LoginDisplay />
    </div>
    @Body
</div>
