@inherits GameComponentBase

<Addons>
    <Addon AddonType="AddonType.Body">
        <input type="text" class="form-control" @bind-Value="MessageText" @bind-Value:event="oninput" @onkeydown="KeyDown" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Secondary" Disabled="@string.IsNullOrEmpty(MessageText)" Clicked="@(() => { Client.Message(MessageText); MessageText = ""; })">Send</Button>
    </Addon>
</Addons>

@code {
    public string MessageText { get; set; }

    private async Task KeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Client.Message(MessageText);
            MessageText = "";
            StateHasChanged();
        }
    }
}
